NEXT_PUBLIC_SITE_URL=https://lotscope.aerovista.us
NEXT_PUBLIC_UMAMI_URL=https://stats.aerocoreos.com
NEXT_PUBLIC_UMAMI_WEBSITE_ID=d40b0dc6-aabc-4467-800e-74866098c119
NEXT_PUBLIC_UMAMI_DOMAINS=lotscope.aerovista.us,lotscope.vercel.app,.vercel.app
